<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    
    <system.serviceModel>

      <bindings>
        <wsDualHttpBinding>
          <binding name="Unsecured" closeTimeout="10:00:00" openTimeout="10:00:00"
            receiveTimeout="10:00:00" sendTimeout="10:00:00">
            <security mode="None" />
          </binding>
        </wsDualHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://192.168.0.16:80/WCFService/WCFServerClient.svc"
                binding="wsDualHttpBinding" bindingConfiguration="Unsecured"
                contract="WCFService.IWCFServerClient" name="WSDualHttpBinding_IWCFServerClient" />
        </client>
      
    </system.serviceModel>
</configuration>