<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\darth sith\documents\visual studio 2013\projects\wcfservice\wcfservice\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
  
    
    <system.web>
      <trust level="Full" />
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
        <!--<identity impersonate="false" />
        <authentication mode="None" />
        <authorization>
            <allow users="*" />
        </authorization>-->
    </system.web>

  
    <system.serviceModel>
      <bindings>
        <wsDualHttpBinding>
          <binding name="Unsecured" receiveTimeout="10:00:00"
                                    sendTimeout="10:00:00"
                                    openTimeout="10:00:00"
                                    closeTimeout="10:00:00">
            <security mode="None">           
            </security>
          </binding>
        </wsDualHttpBinding>
      </bindings>
      
      
      <services>
        <service behaviorConfiguration="WCFServiceBehavior" name="WCFService.WCFServerClient">
          <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="Unsecured" contract="WCFService.IWCFServerClient" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://192.168.0.16:80/WCFService/WCFServerClient.svc" />
            </baseAddresses>
          </host>
        </service>
      </services>
        
      
        <client />
        <protocolMapping>
            <remove scheme="http" />
            <add scheme="http" binding="wsDualHttpBinding" />
        </protocolMapping>
  
        <behaviors>
            <serviceBehaviors>
                <behavior name="WCFServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" policyVersion="Policy15" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
